<div class="rd-footer-plain">
	<div class="rd-footer-bottom">
		<div class="rd-footer-bottom-links">{{{bottomLinks}}}</div>
		<div class="rd-footer-bottom-copyrights">{{copyrights}}</div>
	</div>
</div>