<div class="rd-header-checkout">
	<a class="rd-top-logo sprite-hdr walgreennewlogo-top" href="{{topLogoHref}}"></a>
	<a class="rd-bottom-logo sprite-hdr walgreennewlogo-bot" href="{{bottomLogoHref}}"></a>
	{{{additionalImg}}}
</div>