<div class="resp-action-bar">

	<div class="resp-select-section">
		<span class="resp-select-all">Select All</span>
		<span class="resp-separator">|</span>
		<span class="resp-unselect-all">Unselect All</span>
	</div>

	<div class="resp-share">
		<span>Share</span>
	</div>

	<div class="resp-order-prints">
		<span>Order Prints</span>

		<select class="resp-order-prints-select">
		</select>
	</div>

	<div class="resp-edit-selected">
		<span>Tools</span>

		<select class="resp-edit-selected-select">
		</select>
	</div>

</div>