/*************************************************************** BASE CSS FOR TABLETS LANDSCAPE  **************************************************************/
@media screen {
	.resp-no-img-variation-wrapper img[usemap$="Map"] {
		display: none;
	}

	.resp-no-img-variation-wrapper table {
		width: 100%;
	}

	.resp-no-img-variation #googleSrhQuery {
		box-sizing: border-box;
		height: 35px;
	}
}

/*************************************************************** BASE CSS FOR PHONES LANDSCAPE  **************************************************************/
@media screen and (max-width:669px) {

}